@using Microsoft.DotNet.ProductConstructionService.Client.Models;
@using System.Collections.Immutable
@inject NavigationManager NavManager
@inject Blazored.SessionStorage.ISyncSessionStorageService SessionStorage

<h4 class="navmenu-heading">Quick pins</h4>

<FluentAutocomplete TOption="Channel"
                    ImmediateDelay="10"
                    AutoComplete="off"
                    Autofocus="false"
                    Placeholder="Pin a channel"
                    OnOptionsSearch="@OnSearch"
                    MaxAutoHeight="300px"
                    OptionText="@(channel => channel.Name)"
                    MaximumSelectedOptions="20"
                    SelectedOptionsChanged="@OnSelection"
                    SelectedOptions="@([])">
    <MaximumSelectedOptionsMessage>
        The maximum number of selected items has been reached.
    </MaximumSelectedOptionsMessage>

    <FooterContent>
        @if (!context.Any())
        {
            <FluentLabel Style="font-size: 11px; text-align: center; width: 200px;">
                No results found
            </FluentLabel>
        }
    </FooterContent>
</FluentAutocomplete>

@if (Pins.Any())
{
  <FluentNavMenu Id="pinned-channels-menu" Width="300" Collapsible="false" @bind-Expanded="expanded" CustomToggle="true">
    @foreach (var channel in Pins)
    {
        <ChannelNavMenuItem Channel="@channel">
            <CustomTitleTemplate>
                <div class="fluent-nav-link notactive">
                    @channel.Name

                    <div aria-hidden="true"
                         class="expand-collapse-button"
                         tabindex="-1"
                         @onclick="@(() => RemoveFocus(channel))"
                         @onclick:stopPropagation="true"
                         @onclick:preventDefault="true">
                        <FluentIcon Value="@(new Icons.Regular.Size12.Dismiss())" Color="@Color.Neutral" Class="fluent-nav-expand-icon" />
                    </div>
                </div>
            </CustomTitleTemplate>
        </ChannelNavMenuItem>
    }
  </FluentNavMenu>
}

@code {
    [Parameter]
    public IImmutableList<Channel>? AvailableChannels { get; set; }

    [Parameter]
    public List<Channel>? PrePinnedChannels { get; set; }

    private bool expanded = true;

    private static readonly string SESSION_STORAGE_KEY = "pinned-channels";

    private List<Channel> Pins = new();

    protected override void OnParametersSet()
    {
        if (PrePinnedChannels != null && PrePinnedChannels.Any())
        {
            Pins = PrePinnedChannels;
            SessionStorage.SetItem(SESSION_STORAGE_KEY, Pins);

            return;
        }

        var storedChannels = SessionStorage.GetItem<List<Channel>>(SESSION_STORAGE_KEY);
        if (storedChannels != null)
        {
            Pins = storedChannels;
        }
    }

    private void OnSearch(OptionsSearchEventArgs<Channel> eventArgs) =>
            eventArgs.Items = AvailableChannels?
                    .Where(channel => channel.Name.Contains(eventArgs.Text, StringComparison.OrdinalIgnoreCase))
                    .OrderBy(channel => channel.Name);

    private void OnSelection(IEnumerable<Channel> selectedChannels)
    {
        var newPinnedChannels = selectedChannels
            .Where(c => !Pins.Any(p => p.Id == c.Id))
            .ToList();

        if (!newPinnedChannels.Any())
        {
            return;
        }

        Pins.AddRange(newPinnedChannels);
        SessionStorage.SetItem(SESSION_STORAGE_KEY, Pins);

        UpdateQueryParams(Pins);
    }

    private void RemoveFocus(Channel channel)
    {
        Pins.Remove(channel);

        SessionStorage.SetItem(SESSION_STORAGE_KEY, Pins);
        UpdateQueryParams(Pins);
    }

    private void UpdateQueryParams(List<Channel> channels)
    {
        var newUri = NavManager.GetUriWithQueryParameters(new Dictionary<string, object?>
        {
            ["channel"] = Pins.Select(channels => channels.Id).ToArray()
        });

        NavManager.NavigateTo(newUri);
    }
}
