@using ProductConstructionService.Client
@using ProductConstructionService.Client.Models;
@using System.ComponentModel.DataAnnotations
@inject IProductConstructionServiceApi PcsApi

@if (subscriptions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentStack VerticalGap="10" Orientation="Orientation.Vertical">
        <FluentLabel Typo="Typography.H3">Subscriptions</FluentLabel>

        <FluentDataGrid Id="subscriptionsGrid" Items="@subscriptions" GridTemplateColumns="3fr 1fr 1fr" TGridItem=Subscription Style="width: 100%">
            <TemplateColumn Sortable="true" Align="Align.Start" Title="Source Repository">
                @if(!context.Enabled)
                {
                    <FluentBadge Appearance="Appearance.Accent">Disabled</FluentBadge>
                }
                <FluentAnchor Href="@context.SourceRepository" Target="_blank" Appearance="Appearance.Hypertext">@context.SourceRepository</FluentAnchor>
            </TemplateColumn>
            <PropertyColumn Title="Source Channel" Property="@(s => s!.Channel.Name)" Align="Align.Center" />
            <PropertyColumn Title="Target Branch" Property="@(s => s!.TargetBranch)" Align="Align.Center" />
        </FluentDataGrid>
    </FluentStack>
}

@code {
    [Parameter]
    public string? Repository { get; set; }

    [Parameter]
    public int ChannelId { get; set; }

    private IQueryable<Subscription>? subscriptions;

    protected override async Task OnParametersSetAsync()
    {
        subscriptions = (await PcsApi.Subscriptions.ListSubscriptionsAsync(channelId: ChannelId, targetRepository: Repository))!.AsQueryable();
    }
}
