@using ProductConstructionService.Client
@using ProductConstructionService.Client.Models;
@using System.ComponentModel.DataAnnotations
@inject IProductConstructionServiceApi PcsApi

@if (subscriptions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentStack VerticalGap="10" Orientation="Orientation.Vertical">
        <h1>Subscriptions</h1>

        <FluentDataGrid Id="subscriptionsGrid" Items="@subscriptions" GridTemplateColumns="2fr 1fr 1fr 1fr" TGridItem=Subscription>
            <PropertyColumn Title="Source Repository" Property="@(s => s!.SourceRepository)" Sortable="true" Align="Align.Start" />
            <PropertyColumn Title="Source Channel" Property="@(s => s!.Channel.Name)" Sortable="true" Align="Align.Start" />
            <PropertyColumn Title="Target Branch" Property="@(s => s!.TargetBranch)" Sortable="true" Align="Align.Start" />
            <PropertyColumn Title="Status" Property="@(s => s!.Enabled)" Sortable="true" Align="Align.Start" />
        </FluentDataGrid>
    </FluentStack>
}

@code {
    [Parameter]
    public string? Repository { get; set; }

    [Parameter]
    public int ChannelId { get; set; }

    private IQueryable<Subscription>? subscriptions;

    protected override async Task OnParametersSetAsync()
    {
        subscriptions = (await PcsApi.Subscriptions.ListSubscriptionsAsync(channelId: ChannelId, targetRepository: Repository))!.AsQueryable();
    }
}
