@using Microsoft.DotNet.ProductConstructionService.Client;
@using Microsoft.DotNet.ProductConstructionService.Client.Models;
@using System.ComponentModel.DataAnnotations
@using ProductConstructionService.BarViz.Code.Helpers
@using TextCopy
@inject IProductConstructionServiceApi PcsApi
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@inject IClipboard Clipboard

<FluentButton Id="@("more_" + Subscription.Id)"
              Appearance="Appearance.Lightweight"
              OnClick="@(() => _isContextMenuOpen = !_isContextMenuOpen)"
              Title="More actions"
              Style="height: 20px; margin-bottom: -4px; position: relative; top: -4px">
    <FluentIcon Value="@(new Icons.Filled.Size20.MoreHorizontal())" Width="16px" />
</FluentButton>

<FluentMenu Anchor="@("more_" + Subscription.Id)" @bind-Open="@_isContextMenuOpen">

    <FluentMenuItem OnClick="@(() => Clipboard.SetTextAsync(Subscription.Id.ToString()))">
        Copy ID to clipboard
        <span slot="start">
            <FluentIcon Value="@(new Icons.Regular.Size16.Copy())" Color="@Color.Neutral" />
        </span>
    </FluentMenuItem>

    <FluentMenuItem OnClick="@(() => ShowDetails(Subscription))">
        Show details
        <span slot="start">
            <FluentIcon Value="@(new Icons.Regular.Size16.DocumentOnePage())" Color="@Color.Neutral" />
        </span>
    </FluentMenuItem>

    @if (Subscription.LastAppliedBuild != null)
    {
        <FluentMenuItem OnClick="@(() => NavigationManager.NavigateTo(BuildLink!))">
            Show last build
            <span slot="start">
                <FluentIcon Value="@(new Icons.Regular.Size16.Flashlight())" Color="@Color.Neutral" />
            </span>
        </FluentMenuItem>
    }

    @if (Subscription.Enabled)
    {
        <FluentMenuItem OnClick="@Trigger">
            Trigger subscription
            <span slot="start">
                <FluentIcon Value="@(new Icons.Regular.Size16.Flash())" Color="@Color.Neutral" />
            </span>
        </FluentMenuItem>

        <FluentMenuItem OnClick="@ForceTrigger">
            Force-trigger subscription
            <span slot="start">
                <FluentIcon Value="@(new Icons.Regular.Size16.FlashSparkle())" Color="@Color.Neutral" />
            </span>
        </FluentMenuItem>
    }
    else
    {
        <FluentMenuItem Disabled="true">
            Subscription disabled (use darc to enable)
            <span slot="start">
                <FluentIcon Value="@(new Icons.Regular.Size16.ErrorCircle())" Color="@Color.Neutral" />
            </span>
        </FluentMenuItem>
    }
</FluentMenu>

@code {
    private bool _isContextMenuOpen = false;

    [Parameter, EditorRequired]
    public required Subscription Subscription { get; set; }

    [Parameter, EditorRequired]
    public required Func<Task> Refresh { get; set; }

    [Parameter, EditorRequired]
    public required Func<Subscription, Task> ShowDetails { get; set; }
    
    async Task Trigger() => await Trigger(false);

    async Task ForceTrigger() => await Trigger(true);

    async Task Trigger(bool force)
    {
        try
        {
            await PcsApi.Subscriptions.TriggerSubscriptionAsync(Subscription.Id, force);
            ToastService.ShowProgress($"Subscription {(force ? "force-" : "")}triggered");
        }
        catch
        {
            ToastService.ShowError("Failed to trigger the subscription");
        }
    }

    string? BuildLink => Subscription.LastAppliedBuild == null
        ? null
        : $"/channel/{Subscription.Channel.Id}/{RepoUrlConverter.RepoUrlToSlug(Subscription.SourceRepository)}/build/{Subscription.LastAppliedBuild.Id}";
}
