@using Microsoft.DotNet.ProductConstructionService.Client.Models
@using TextCopy
@inject IToastService ToastService
@inject IClipboard Clipboard

<FluentButton Id="@_id"
              Appearance="Appearance.Lightweight"
              OnClick="@(() => _isContextMenuOpen = !_isContextMenuOpen)"
              Title="More actions"
              Style="height: 20px; margin-bottom: -4px; position: relative; top: -4px">
    <FluentIcon Value="@(new Icons.Filled.Size20.MoreHorizontal())" Width="16px" />
</FluentButton>

<FluentMenu Anchor="@_id" @bind-Open="@_isContextMenuOpen">
    <FluentMenuItem Disabled="@(Outcome.BuildId <= 0)" OnClick="@CopyBuildIdAsync">
        Copy build ID
        <span slot="start">
            <FluentIcon Value="@(new Icons.Regular.Size16.Copy())" Color="@Color.Neutral" />
        </span>
    </FluentMenuItem>

    <FluentMenuItem OnClick="@CopyOperationIdAsync">
        Copy operation ID
        <span slot="start">
            <FluentIcon Value="@(new Icons.Regular.Size16.Copy())" Color="@Color.Neutral" />
        </span>
    </FluentMenuItem>

    <FluentMenuItem OnClick="@(() => ShowDetails(Outcome.SubscriptionId))">
        Show subscription details
        <span slot="start">
            <FluentIcon Value="@(new Icons.Regular.Size16.DocumentOnePage())" Color="@Color.Neutral" />
        </span>
    </FluentMenuItem>
</FluentMenu>

@code {
    private bool _isContextMenuOpen = false;
    private readonly string _id = "more_" + Guid.NewGuid().ToString("N");

    [Parameter, EditorRequired]
    public required SubscriptionTriggerOutcome Outcome { get; set; }

    [Parameter, EditorRequired]
    public required Func<Guid, Task> ShowDetails { get; set; }

    private async Task CopyBuildIdAsync()
    {
        try
        {
            await Clipboard.SetTextAsync(Outcome.BuildId.ToString());
            ToastService.ShowSuccess("Copied build ID to clipboard");
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Failed to copy build ID: {ex.Message}");
        }
    }

    private async Task CopyOperationIdAsync()
    {
        try
        {
            await Clipboard.SetTextAsync(Outcome.OperationId);
            ToastService.ShowSuccess("Copied operation ID to clipboard");
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Failed to copy operation ID: {ex.Message}");
        }
    }
}
